#main-container {
  background-color: black;
  height: 100vh;
}
header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#nav-links {
  gap: 10px;
  color: #ffffff;
  display: flex;
  padding: 5px;
  width: 400px;
}
.nav-link {
  color: inherit; /* use the parent element's color */
  text-decoration: none; /* remove underline */
}
#featured-product {
  border-top: 1px solid gray;
  padding-top: 10px;
  margin-left: 10%;
  background-color: black;
  width: 82%;
  color: whitesmoke;
  display: flex;
}

#new-product {
  padding-top: 50px;
  font-size: 30px;
  letter-spacing: 10px;
  color: gray;
  font-family: Manrope;
}
